.research{text-align: center;padding-top: 0.2rem;padding-bottom: 0.2rem;}
.research-input{width: 85%;height: 0.8rem;border-radius: 5px;border: 1px solid #EEEEEE;background-color: #f2f2f2;padding-left: 3rem;}
